._blank {
  display: inline-block;
  width: 1rem;
}

.main {
  height: calc(100% - 6rem - 5.4rem);
  min-height: calc(100vh - 6rem - 5.4rem);

  display: flex;
  justify-content: center;
}

.footer {
  height: 6rem;
  border-top: 1px solid #545b61;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 13px;
}
.footer a {
  color: #ae5ec7;
}
.footer .contact span:first-child {
  margin-right: 1rem;
}
.powerlink {
  display: inline-block;
  margin-left: 5px;

  color: #ae5ec7;
}

@media screen and (max-width: 767px) {
  .main {
    margin-top: -1.5rem;
    margin-bottom: 1.5rem;
  }

  .footer {
    font-size: 12px;
    height: 6rem;
  }

  .footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer .contact span:first-child {
    margin-right: 0;
  }
}
